<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organify</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="../styles/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<!-- Navigation -->
<header>
    <nav class="navbar navbar-expand-md navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img class="i" src="../images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact_us">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>0
    <legend class="text-center">Login</legend>
    <form class="form-horizontal" action="" method="post">

        <div class="form-content container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Username</label>
                        <input name="username" type="text" class="form-control" placeholder="" value="" required>
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Password</label>
                        <input name="password" type="password" class="form-control" placeholder="" value="" required>
                    </div>
                </div>
                <div class=" col-12 d-flex justify-content-center">
                    <button type="submit" class="btnSubmit">Login</button>
                </div>

            </div>
        </div>
        <div class="text-center w-full p-t-25 p-b-230 container">
            <a href="#" class="txt1">
                Forgot Password?
            </a>
            <a class="txt1" href="signup.html">
                Create new account
            </a>
        </div>
    </form>
</main>

<footer>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">Organify <i>"Now you can" </i> it's a website that enables you to organize your day</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Founders</h6>
                    <ul class="footer-links">
                        <li><a href="https://www.linkedin.com/in/yasmine-h-a6588614b" target="_blank">Yasmine
                            Hamdi</a></li>
                        <li><a href="https://tn.linkedin.com/in/salmen-zouari-7266bb176" target="_blank">Salmen
                            Zouari</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="contact_us.html" target="_blank">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                        <a href="#">JobWin</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com/JobWin-101142054972079"
                               target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</footer>
</body>

</html>
